<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="host" value="ya.ru"></add>
    <add key="period" value="3"></add>
    <add key="protocol" value="ICMP"></add>
    <add key="port" value="80"></add>
  </appSettings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>